.block__btn__login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    font-family: 'Merriweather', serif;    
}
.block__btn__login button{
    background-color: #fff;
    border:1px solid black;
    color: #8E7CC3;
    width: 500px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
   border-radius: 0px;
}

.mentor__reg__checkbox span{
    font-size: 13px;
}
.mentor-reg__input fieldset{
    border-radius: 0px;
    border: 1px solid #000;
    border: none;
}
.input-label fieldset{
    border-radius: 0px;
     border: 1px solid #000 !important;
    
}
.mentor-reg__input input{
    padding: 17px;
     border: 1px solid #000;
}

.mentor-reg__btn:hover{
    color: black;
    background-color: #fff !important;
    transition: 0.8s;
    border:1px solid black;
}

.mentor-log__p{
    font-size: 23px !important;
}

.social-media__btn{
    display: flex;
    flex-direction: column;
    justify-content:baseline !important;
    gap: 10px;

}
.social-media__btn div {
    margin: 0;
}
.social-media__btn button{
    border-radius: 0px;
    border: 1px solid #000;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
.social-media__logo{
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 100%;
    border-radius: 50%;
    margin-right: 10px !important;
}


#mentor-log__link{
    margin-right: 20px;
    color: black ;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.forgot-password__btn{
    color: #fff;
}

.forgot-password__btn:hover{
    background-color: #fff !important;
    color: black;
    border: 1px solid black;
}

.questions-block__label{
    display: flex;
    background-color: #fff;
    color: #000;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 0px;
    font-size: 17px;
}
.MuiRadio-root{
    margin-right: 50px !important;
    /* width: 50px; */
    width: 10px;
    height: 10px;
    background-color: white !important;
}

.questions-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
}

.questions-block button{
    background-color: #fff;
    border: 1.3px solid black;
    margin-top: 25px;
    border-radius: 0%;
    color: black;
}
.questions-block button:hover{
    color: #fff;
    border: none;
    background-color:#8E7CC3;
}











