.searchBar {
  border-radius: 50px !important;
  border: 1px #64635e solid;
  font-size: 0.9rem;
  height: 50px;
  width: 40% !important;
  margin: 10px;
}
.searchBar input {
    /* text-align: center; */
    margin-top: 6px;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
    font-size: small;
}
.btns_typo {
    margin-left: -11%;
}
.btns_typo button {
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}
.signup:hover {
    color: black;
}